<!DOCTYPE html>
<html ng-app='avengersApp'>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avengers App</title>
    <link rel="stylesheet" type="text/css" href="reset.css">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body ng-controller='MainCtrl'>
    <input ng-model="filterText"></input>
    <div class="hero-wrapper">
        <div class="heroCard" ng-repeat="hero in avengers | filter: {name: filterText}">
          <h3 class="heroName">Name: {{ hero.name }}</h3>
          <div class="hero-image">
	          <img ng-src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}"/>
          </div>
          <h4>Description</h4>
          <h4 class="description">{{hero.description || "This hero is so awesome they don't need a description!"}}</h4>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/MainCtrl.js"></script>
  </body>
</html>
